<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
                            <mat-icon>widgets</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>

                        <h5 class="m-0">Productos</h5><br />
                        <h6 class="text-muted m-0">30</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="primary" mat-card-icon class="shadow-none bg-success">
                            <mat-icon>content_paste</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h5 class="m-0">Ventas</h5><br />
                        <h6 class="text-muted m-0">150</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->

    <!-- column -->
    <!-- column -->

</div>