<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<app-top-card></app-top-card>
<!-- ============================================================== -->
<!-- Charts -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
        <app-newsletter></app-newsletter>
    </div>
    <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
        <app-visitor></app-visitor>
    </div>

    <!-- Column-->

    <!-- Column-->
</div>



<!-- ============================================================== -->
<!-- Chart boxes -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->